body{
    background-color: black;
    color: white;
}
#container{
    margin-left: 15%;
}
#navbar{
    display: flex;
    position: fixed;
    top: 0;
    background-color: black;
    height: 90px;
    width: 100%;         
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
}
#navigate p.active {
    color: #1ae90b;
    font-weight: bold;
}
#navigate{
    display: flex;
    gap: 14%;
    font-size: 18px;
    margin-top: 1%;
    margin-left: 27%;
    width: 50%;
}
#landingpage{
    margin-top: 13%;
    display: flex;
    gap: 10%;
}
#logo{
    margin-left: -4%;
    height: 100%;
}
#resume{
    width:90px;
    border-radius: 15%;
    background-color: #1ae90b;
    border-color: #1ae90b;
    color: white;
    height: 70px;
}
#Maureen {
    height: 350px;
    border-radius: 17%;
    border: 10px solid #1ae90b;
    padding: 29px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}
#aboutHead{
    margin-top: 7%;
    font-size: 25px;
    color: #1ae90b;
}
#about{
    font-size: 30px;
    margin-left: 2%;
    border-radius: 5px;
    border: solid 5px;
    border-radius: 25px;
    padding-left: 5%;
    padding-right: 6%;
    width: 75%;
    text-align: left;
    border-color: #1ae90b;
}
#intro{
font-size: 35px;
margin-top: -2%;
}
#skills{
    margin-left: 4%;
    gap: 2px;
}
#Row1{
display: flex;
gap: 6.5%;
}
#Product{
    margin-left: 6px;
    height: 90px;
    margin-top: 10px;
    margin-right: -40px;
}
#pmCourse{
    margin-left: 29px;  
}
#Row2{
display: flex;
gap: 6%;
}
#Row3{
display: flex;
gap: 6%;
}
#serviceHead{
    margin-top: 7%;
    font-size: 25px;
    color: #1ae90b;  
}
#image{
    height: 90px;
    margin-top: 17px;
    margin-right: -40px;
}
#contact{
  margin-left: 20%; 
 
}


/* For screens with a minimum width of 768px */
@media only screen and (max-width: 768px) {
    #container {
        margin-left: 5%;
    }
    #navbar {
        display: flex;
        position: fixed;
        top: 0;
        background-color: black;
        height: 50px;
        width: 100%;         
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }
    #navigate {
        margin-left: 8%;
        width: 50%;
        font-size: 10px;
    }
    #landingpage {
        margin-top: 13%;
    }
    #logo {
        margin-left: -4%;
        width: 110px;
        height: 50px;
    }
    #resume {
        width: 58px;
        height: 40px;
        font-size: 12px;
    }
    #Maureen {
        height: 110px;
        border-radius: 17%;
        border: 4px solid #1ae90b;
        padding: 7px;
        box-sizing: border-box;
        position: relative;
        z-index: 5;
        margin-top: 2%;
    }
    #aboutHead {
        margin-top: 7%;
        font-size: 12px;
    }
    #about {
        margin-left: 2%;
        width: 80%;    
        font-size: 14.5px;
        margin-left: 2%;
        border-radius: 10px;
        border: solid 5px;
        border-color: #1ae90b;
    }
    #intro {
        margin-top: 1%;
        font-size: 12px;

    }
    #skills {
        margin-left: 4%;
    }
    #Row1 {
        gap: 15%;
        display: flex;
        flex-wrap: wrap;
        font-size: 10px;
    }
    #Product {
        margin-left: 1px;
        margin-top: 10px;
        margin-right: -40px;
        width: 30%;
        height: 70px;
    }
    #pmCourse {
        margin-left: -70px;
    }
    #webCourse {
        margin-left: -30px;
    }
    #pmCourse {
        margin-left: 20px;
    }
    #Row2 {
        gap: 15%;
        display: flex;
        flex-wrap: wrap;
        font-size: 10.5px;

    }
    #mobileCourse{
        margin-left: -30px;
    }
    #designCourse{
        margin-left: -30px; 
    }
    #Row3 {
        gap: 6%;
        display: flex;
        flex-wrap: wrap;
        font-size: 10px;
    }
    #serviceHead {
        margin-top: 7%;
        font-size: 12px;
    }
    #image {
        margin-top: 7px;
        margin-right: -40px;
        width: 170%;
        height: 60px;
    }
    #contact {
        margin-left: 20%;
        font-size: 10px;
    }
}

/* For screens with a minimum width of 1024px */
@media only screen and (min-width: 1024px) {
    #container {
        margin-left: 15%;
    }
    #navbar {
        width: 100%;
    }
    #navigate {
        margin-left: 27%;
        width: 50%;
    }
    #landingpage {
        margin-top: 13%;
    }
    #logo {
        margin-left: -4%;
    }
    #resume {
        width: 90px;
    }
    #Maureen {
        height: 350px;
    }
    #aboutHead {
        margin-top: 7%;
    }
    #about {
        margin-left: 2%;
        width: 75%;
    }
    #intro {
        margin-top: -2%;
    }
    #skills {
        margin-left: 4%;
    }
    #Row1 {
        gap: 6.5%;
    }
    #Product {
        margin-left: 6px;
        margin-top: 10px;
        margin-right: -40px;
    }
    #pmCourse {
        margin-left: 29px;
    }
    #Row2 {
        gap: 6%;
    }
    #Row3 {
        gap: 6%;
    }
    #serviceHead {
        margin-top: 7%;
    }
    #image {
        margin-top: 17px;
        margin-right: -40px;
    }
    #contact {
        margin-left: 20%;
    }
}

/* For screens with a minimum width of 1280px */
@media only screen and (min-width: 1280px) {
    #container {
        margin-left: 15%;
    }
    #navbar {
        width: 100%;
    }
    #navigate {
        margin-left: 27%;
        width: 50%;
    }
    #landingpage {
        margin-top: 13%;
    }
    #logo {
        margin-left: -4%;
    }
    #resume {
        width: 90px;
    }
    #Maureen {
        height: 350px;
    }
    #aboutHead {
        margin-top: 7%;
    }
    #about {
        margin-left: 2%;
        width: 75%;
    }
    #intro {
        margin-top: -2%;
    }
    #skills {
        margin-left: 4%;
    }
    #Row1 {
        gap: 6.5%;
    }
    #Product {
        margin-left: 6px;
        margin-top: 10px;
        margin-right: -40px;
    }
    #pmCourse {
        margin-left: 29px;
    }
    #Row2 {
        gap: 6%;
    }
    #Row3 {
        gap: 6%;
    }
    #serviceHead {
        margin-top: 7%;
    }
    #image {
        margin-top: 17px;
        margin-right: -40px;
    }
    #contact {
        margin-left: 20%;
    }
}